body{ 
    background-color: black;
    height: 100%;
    color: white;
    display: flex;
    margin: 0;
    text-transform: capitalize;
    
    align-items: center;
justify-content: center;
 }
 .flip-card {
  display: flex;
  background-color: transparent;

  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
img {
height: px;
 width: 150px;
}
.flip-card-inner {
  position: relative;

  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.fasl{ 
 margin-bottom: 26px;
   }
