body{ 
    background-color: black;
    height: 100%;
    color: white;
    display: flex;
    margin: 0;
    text-transform: capitalize;
    
    align-items: center;
justify-content: center;
 }
 img{ 
    width: 150px;
  
   }
.fasl{ 
 margin-bottom: 26px;
   }
